/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

}

@media only screen and (max-width : 1024px) {
	.departure-date, .return, .currency-wrapper{
		margin-right: 2%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.section-header{
		padding: 0 15px;
	}
	.nav{
		display: none;
	}

	.mob-nav{
		display: block;
		position: absolute;
		top: 5px;
		right: 20px;
		width: 25px;
		height: 21px;
		cursor: pointer;
		z-index: 5;
		&__item{
			display: block;
			width: 100%;
			height: 5px;
			margin-top: 4px;
			background-color: #FFF;
			border-radius: 25px;
		}
	}

	.menu-list{
		margin-top: 40px;
		float: none;
	}

	.menu-item{
		display: block;
	}

	.submenu{
		display: block;
		position: relative;
		width: 100%;
		top: 0;
		margin-bottom: 10px;
	}

	.menu-link{
		background: #f75c00;
		margin-bottom: 10px;
		&:hover{
			background: #f75c00;
		}
	}

	.account{
		float: none;
		display: block;
		text-align: left;
		padding: 20px;
		&:after{
			top: 23px;
			left: 0;
		}
	}

	.show-nav{
		display: block;
	}

	.section-content{
		padding: 50px 15px 30px 15px;
	}

	.arrival, .departure{
		width: 100%;
		float: none;
		margin: 0 auto 20px;
	}

	.switch{
		display: none;
	}

	.section-content{
		padding: 50px 15px 55px 15px;
	}

	.departure-date, .roundtrip-wrapper, .currency-wrapper, .return, .search-wrapper, .select-selected{
		width: 100%;
		float: none;
		margin-bottom: 20px;
		max-width: 400px;
		margin: 0 auto 20px auto;
	}

	.select-items div{
		width: 100%;
	}

	.roundtrip{
		margin-top: 0;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	

}

@media only screen and (max-width : 600px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
